.MyPedido_main{
 
  width: 100vh;
  height: 400px;
  overflow: scroll;
}

.boton_MyPedido{
  
  justify-content: center;
  position: absolute;
  bottom: 0;
  margin-bottom: 120px;
}
.total_MyPedido{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.MyPedido_footer{
  margin-top: 30px;
  position: relative;
  top: -55px;
  left: -230px;
}
