.Pedido_container{
  display: flex;
  margin: 6px;
  border-radius: 8px;
 
  width: 300px;
  justify-content: space-around;
  box-shadow: 1px 1px 3px 2px #e7e7e1;
}
.Pedido_img{
  
  padding-top: 14px;
  width: 20px;
}